.pfp-navbar{
    border: 1px solid black;
    border-radius: 50%;
    max-width: 50px;
}
#pkmn-guess{
    position:relative;
    left:25.45%;
    width: 50%;
}

.suggestions > ul{
    position:relative;
    left:25%;
    width: 51%;
    padding: 0;
}

  ::placeholder{
    color: rgb(172, 172, 172)
  }
  :focus {
    outline:none;
    border-color: black;
  }
  input {
    padding:0.4rem;
    background-color: rgb(68, 95, 136);
    text-align: center;
    font-weight: 600;
  }

  .suggestions ul li {
    background-color: rgb(68, 95, 136);
    list-style: none;
    margin:0;
    border-style: none solid none solid;
    border-color: black;
    border-width: 2px;
  }

  .suggestions ul li:hover {
    background-color: black;
    cursor: pointer;
  }

  .pkmn-types > *,   .pkmn-colors > *{
    display: inline-block;
    width: 70px;
    padding: 0 5px;
    margin: 5px;
    border: 1px solid black;
    background-color: rgb(107, 107, 107);
    border-radius: 5px;
    text-shadow: black 0 0 5px;
  }

  .pkmn-shapes img{
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 45px;
    padding: 5px;
    margin: 5px;
  }

  img:hover{
    scale: 110%;
  }
  