{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <h1 class="my-3">Who's that Pokemon</h1>
    </div>

    <button id="new-game-btn" class="btn btn-lg btn-primary mb-3">New Game</button>
    <div class="row">
        <p class="fs-4 text-warning">Guesses: <span class="score">0</span> / 20</p>
        <p class="end-status fs-4 hidden-item">Victory!</p>
    </div>
    <!-- Hidden list of all pokemon -->
    <section id="all-pkmn" class="hidden-item">
        <ul>
            {% for p in pkmn %}
                <li>{{p}}</li>
            {% endfor %}
        </ul>
    </section>


    <div id="load-msg" class="row">
        <p>Selecting Random Pokemon . . .</p>
    </div>

    <div id="game" class="row hidden-item">
        <div class="row"><p id="non-poke-warn" class="hidden-item">Not a pokemon!</p></div>

        <form id="guess-form" class="row pb-2" autocomplete="off">
            <div class="d-flex flex-column">
                <div>
                    <input class="border-0 rounded-5 p-2" type="text" name="pkmn-guess" id="pkmn-guess" placeholder="Its ..." style>
                    <div class="suggestions">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div>
                    <button class="btn btn-light rounded-0 rounded-5 p-2" id="guess-btn">Submit</button>
                </div>
            </div>
        </form>
        <hr>
        <button class="btn w-100 btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ref-sheet" aria-expanded="true" aria-controls="collapse-ref-sheet">
            Reference
        </button>
        <div class="collapse.show collapse show" id="collapse-ref-sheet">
            <div class="reference-data ">
                <div class="row">
                    <ul class="pkmn-gens"></ul>
                </div>
                <div class="row">
                    <ul class="pkmn-types"></ul>
                </div>
                <div class="row">
                    <ul class="pkmn-shapes"></ul>
                </div>
                <div class="row">
                    <ul class="pkmn-colors"></ul>
                </div>
                <div class="row">
                    <ul class="pkmn-eggs"></ul>
                </div>
            </div>
        </div>  
        <hr>
        
        <div class="row">
            <table id="guess-table">
                <thead>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Gen</th>
                    <th>Egg 1</th>
                    <th>Egg 2</th>
                    <th>Color</th>
                    <th>Shape</th>
                    <th>Type 1</th>
                    <th>Type 2</th>
                </thead>
                <tbody class="all-guesses"></tbody>
            </table>
        </div>
    </div>

    
    

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js"></script>
<script src='static/scripts.js'></script>

{% endblock %}