{% extends 'base.html' %}

{% block content %}

<table class="leaderboard-table table table-bordered table-striped text-center my-5">
    <thead>
        <tr class="table-light">
            <th colspan="3"> TOP {{ top_scores | length }} SCORES</th>
        </tr>
        <tr class="table-primary">
            <th>Player</th>
            <th>Score</th>
            <th>Game Mode</th>
        </tr>
    </thead>
    <tbody class="table-secondary">
        {% for s in top_scores %}
        <tr>
            <td class="px-2">{{s.user.username}}</td>
            <td class="px-2">{{s.score}}</td>
            <td class="px-2">{{s.game_mode}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}