{% extends 'base.html' %}

{% block content %}

<h1 class="my-3">{{g.user.username}}'s profile</h1>
<p><b class="h5 text-primary">E-mail</b>: {{g.user.email}}</p>
<p><b class="h5 text-primary">Favorite Pokemon</b>: {{fav_pokemon}}</p>

<table class="table table-bordered table-striped text-center my-4">
    <thead class="table-light">
        <th colspan="2">Game Stats</th>
    </thead>
    <tbody>
        <tr class="table-warning">
            <td><b>Best Score</b></td>
            <td>{{ user_stats["best_score"] }}</td>
        </tr>
        <tr class="table-success">
            <td><b>Total Game Wins</b></td>
            <td>{{user_stats["win_count"]}}</td>
        </tr>
        <tr class="table-danger">
            <td><b>Total Game Losses</b></td>
            <td>{{user_stats["loss_count"]}}</td>
        </tr>
        <tr class="table-info">
            <td><b>Games Played</b></td>
            <td>{{user_stats["game_count"]}}</td>
        </tr>
        <tr class="table-primary">
            <td><b>Total Guesses Made</b></td>
            <td>{{user_stats["guess_count"]}}</td>
        </tr>
    </tbody>
</table>

<hr class="text-danger">
<form class="bg-danger-subtle p-3 text-dark rounded-2" action="/profile/delete" method="POST">
    {{ del_form.hidden_tag() }}
    
    {% for field in del_form
        if field.widget.input_type != 'hidden' %}
        <div class="form-group mb-4">
            {{ field.label }}
            {{ field(class="form-control text-start") }}
            <span>
            {% for error in field.errors %}
                <b class="text-danger">{{ error }}</b>
            {% endfor %}
            </span>
        </div>
    {% endfor %}
    <button id="btn-delete" class="btn btn-lg btn-danger"><i class="fa-regular fa-trash-can"></i> Delete account</button>
</form>
<hr class="text-danger">

<form action="/profile/{{g.user.id}}" method="POST">
    {{ edit_form.hidden_tag() }}
    
    {% for field in edit_form
        if field.widget.input_type != 'hidden' %}
        <div class="form-group mb-4">
            {% if field.label.text == 'Current password' %}
            <hr>
            <p class="text-warning">Enter your current password to update any info</p>
            <hr>
            {% endif %}
    
            {{ field.label }}
            {{ field(class="form-control text-start") }}
            <span>
            {% for error in field.errors %}
                <b class="text-danger">{{ error }}</b>
            {% endfor %}
            </span>
        </div>
    {% endfor %}
    <button class="btn btn-lg btn-primary">Update</button>
</form>

{% endblock %}